<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--<add key="MyGet" value="http://www.myget.org/gallery" />-->
    <add key="Coure-Azure-Devops" value="https://pkgs.dev.azure.com/COURE/_packaging/coure-feed/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Coure-Azure-Devops>
      <add key="Username" value="oogbonnaya@coure-tech.com" />
      <add key="ClearTextPassword" value="Word2016" />
    </Coure-Azure-Devops>
  </packageSourceCredentials>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>